body {
    background-image: url("../images/background.jpeg");
    background-size: cover;
    color: black;
    text-align: center;
    font-family: 'Special Elite', cursive;
}


.header{
    margin-top: 70px;
    font-size: 80px;
    background-color: rgba(255, 255, 255, 0.7);
}

.mainpage,
.questionBlock,
.results {
    background-color: rgba(255, 255, 255, 0.7);
    width: 60%;
}

.questionBlock,
.results {
    margin: 20px 50px 20px 300px;
    padding: 10px;
}

#start{
    margin-top: 70px;
    font-size: 40px;
}

#countdown {
    font-size: 26px;
    color:rgb(201, 12, 12);
}

#gameFinished {
    font-size: 40px;
}

.end {
    font-size: 30px;
    color: black;
}

.quest {
    font-size: 26px;
    color: wheat;
}

.text-mysize {
    font-size: 20px;
}
 